 <section class="product-details">
      <h3>Pixie Mood Sunny Bag</h3>
      <section>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </section>
      <section>
          <del class="small text-black-50">$199.95</del>
          <i class="text-danger font-weight-bold">$100</i>
      </section>
  </section>