<GeneralContainer>
    <div class="product item-details-page">
        <Product::Image/>
        <Product::Details/>
    </div>
    <h5 class="mt-5">Features</h5>
    <ul>
        <li>Can't stop won't stop get guap</li>
        <li>Ten white toes in them Tory flip flops</li>
        <li>Manicures and pedicures I'm always tip top</li>
        <li>When they say I'm not hot all these lies need to stop</li>
        <li>'Cause I'm icy, wifey haters wanna fight me</li>
        <li>Charging by the minute 'cause my time is very pricey</li>
    </ul>
</GeneralContainer>